NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAor2eKoIilIOD6k21ggYbTERziCbTnHFU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mselectronics-e96a9.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mselectronics-e96a9
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mselectronics-e96a9.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=406523408336
NEXT_PUBLIC_FIREBASE_APP_ID=1:406523408336:web:2841f81362cf3ab3c753d5

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=da6udatxo
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=ms_electronics_unsigned